@model MainWebsite.Models.MvPlacesModel
@{
    ViewBag.Title = "Index";
}
<div>
    <p>
        @if (Model.MvPlaces != null)
        {
            foreach (var place in Model.MvPlaces)
            {
                var placeName = place.PlaceName.Replace(" ", "+");
             <a href="/places/detail?name=@HttpUtility.UrlPathEncode(placeName)">@place.PlaceName</a><br /><br />
            }
        }
    </p>
    <p>
         <a href="#">View ALPR Data - Oakland</a>
    </p>
</div>
