@model MainWebsite.Models.DefaultModel
@{
    ViewBag.Title = "Home";
}
<div class="container">
    <div class="jumbotron text-center">
        <h1>MaroonVillage</h1>
        <p>MaroonVillage is based on the idea of individuals using our talents, passions and skills in our communities to make the workd a better place to live.</p>
        <a href="#" class="btn btn-primary">Read more</a>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Test 1</h3>
            <p>Lorem ipsum ...</p>
            <a href="#">Read more</a>
        </div>
         <div class="col-sm-4">
            <h3>Test 2</h3>
            <p>Lorem ipsum ...</p>
            <a href="#">Read more</a>
        </div>
         <div class="col-sm-4">
            <h3>Test 3</h3>
            <p>Lorem ipsum ...</p>
            <a href="#">Read more</a>
        </div>
    </div>
</div>

