<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="TwitterAccessToken" value="172536591-3OgKwsm4XMFgiwz8plYl9oflMKeJAaE2QBqdza0G"/>
    <add key="TwitterAccessTokenSecret" value="Tr4BiwmNfEUk7G8ijWiYvL6xyWlovCj1A0dHuYqss2I1C"/>
    <add key="TwitterConsumerKey" value="rK0LPs9ECGbTom1Jm0hRlPHUF"/>
    <add key="TwitterConsumerSecret" value="PryEzCkkBIPdXIgiYtqeakDDDzRpMiGjrrshlPlbaamsdohZKi"/>
  </appSettings>
</configuration>