@model MainWebsite.Models.MvPlacesModel
<div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@MvcHtmlString.Create("Representatives")</h3>
        </div>
        <div class="panel-body">
            <div id="repInfo">
               
            </div>

             @*The representative's photo*@
            <a href="#" class="thumbnail" id="repUrl">
                <img src="..." alt="..." id="repImg">
            </a>


        </div>

       
        
    </div>
</div>
