<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h5>Product</h5>
                <a href="http://developers.kippt.com/apps/" target="_blank">App Gallery</a><br>
                <a href="/pro/">Upgrade to Pro</a><br>
                <a href="/faq/">Help</a><br>
                <a href="http://developers.kippt.com/" target="_blank">Developers / API</a>
            </div>
            <div class="col-md-2">
              <h5>About</h5>
              <a href="/about/">About Kippt</a> <br>
              <a href="/press/">Press</a> <br>
              <a href="/privacy/">Privacy</a> <br>
              <a href="/terms/">Terms</a>
            </div>
            <div class="col-md-2">
              <h5>Community</h5>
              <a href="http://blog.kippt.com/">Blog</a> <br>
              <a href="https://twitter.com/kippt/">Twitter</a> <br>
              <a href="https://facebook.com/kipptapp/">Facebook</a><br>
              <a href="/about/">Contact Us</a>
            </div>
            <div class="col-md-2">
                <p>Handcrafted in San Francisco with Finnish Heritage <span>♥</span></p>
                <div style="margin-top:10px"><a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics"></a></div>
            </div>
        </div>
    </div>
</footer>
